.gauge {
    position: relative;
    width: 160px;
    height: 160px;
    margin: 40px auto;
}

.gauge-circle {
    border: 6px solid grey;
}

.gauge-label:before {
    content: "-";
    position: absolute;
    top: 50%;
    left: -13px;
    height: 30px;
    margin-top: -15px;
    line-height: 30px;
}

.gauge-labelText {
    margin-left: -50px;
    min-width: 50px;
    text-align: center;
}

.gauge-arrow {
    color: #333;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

